NODE_ENV="development"
PORT=5000

# DATABASE_URL="postgresql://postgres:123456@localhost:5432/way-wise-portfolio?schema=public"
# NODE_ENV=production
DATABASE_URL=postgresql://neondb_owner:npg_TBJnhS86DvfQ@ep-summer-river-a14uwiti-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET="HELLOTHISISSECRETJWT"
EXPIRES_IN=1D
REFRESH_TOKEN_SECRET="THISISREFRESHTOKENSECRET"
REFRESH_TOKEN_EXPIRES_IN=7D
RESET_TOKEN_SECRET=dev_reset_token_secret_min_32_chars
RESET_TOKEN_EXPIRES_IN=15m
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
AWS_ACCESS_KEY_ID=usLRAQbF6PHLJ4zFB1PcGrNj8l2n6h87
AWS_SECRET_ACCESS_KEY=H0fnq1oFLSDFgvQuskVwP1m1tfPqcm9s
AWS_REGION=us-003
AWS_BUCKET_NAME=waywise
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_pm3NOdhLhoPJq8lE_3YTaFAV4RKr2ZgtIvkvWnjHBJFzLGB"
BLOB_READ_ONLY_TOKEN=your-vercel-blob-ro-token   
# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tech@waywise.pro
SMTP_PASS=gmbedmtvdjatbpyq
EMAIL_FROM="Way-Wise Tech<tech@waywise.pro>"
ADMIN_EMAIL=tech@waywise.pro
# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_51Jw9J1KKEsZqvGCg97fSIy3lJLGyzaRujnJzeTESdSGhGUkyqW8Tr9v1NDCb0aPMExBsW2Aa15wOUoXr5d76YRYf008VFKDrqV
STRIPE_SECRET_KEY=sk_test_51Jw9J1KKEsZqvGCgETuDg6FEdTz2Lx7nZH2to4z2Za0wDp3KfUsSM8anCNBvppkYS218DuepY10eJrbwF8PSKVSL00oCcGVbkC


FRONTEND_PUBLIC_URL=https://waywisetech.com

FRONTEND_DASHBOARD_URL=https://dashboard.waywisetech.com

COOKIE_DOMAIN=.waywisetech.com

COMPANY_NAME=Way Wise Tech
COMPANY_LOGO_URL=https://waywisetech.com/logo.png
LOGIN_URL=https://dashboard.waywisetech.com/login
RESET_PASS_LINK=https://dashboard.waywisetech.com/reset-password




# Local URLs
APP_URL=http://localhost:3000
DASHBOARD_URL=http://localhost:3000